.App {
  text-align: center;
  align-items: center;
  color: #ECDBBA;
  font-size: 20px;
}

.app-title-container{
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 50px;
  font-size: 25px;
}

.character-card-container{
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  justify-content: center;
}
header{
  font-size: 30px;
}

.search-box{
  background-color: #161616;
  color: #ECDBBA;
  border: 3px solid rgb(211,211,211, 0.2);;
  border-radius: 4px;
  font-size: 1.5em;
  height: fit-content;
  position: absolute;
  right: 0;
}
.search-box:focus{
  background-color: rgb(211,211,211, 0.2);
  border: 1px solid #ECDBBA;
}
