.App {
  text-align: center;
  align-items: center;
  color: #ECDBBA;
  font-size: 20px;
}

.character-container{
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  /* justify-content: center; */
}

header{
  font-size: 30px;
}